.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #c5dbfb 0%, #c3cfe2 100%);
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #617ea1;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}

#btn {
    color: red;
    } 